#TB_ajaxContent #wcgwp-feedback-dialog-form,#TB_ajaxContent #wcgwp-feedback-dialog-form p {
    font-size: 16px;
    line-height: 1.75em;
    margin-top: 0;
    padding: 0;
}

.wcgwp-feedback-dialog-input-wrapper {
    display: block;
}